/* GENERAL STYLES */


/* PICTURE OF THE DAY STYLES */

#potdSection {
    margin-bottom: 100px;
}


/* ROVER IMAGE STYLES */

/* .roverImages img {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
} */